*.loa
*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.fdb_latexmk
*.fls
*eps-converted-to.pdf
*.pdn
ILASS_Paper_Outline with notes from Nate.pdf
ILASS_Paper_Outline with notes from Tim.pdf
ILASS_Paper_Outline with notes from Eric.pdf
